p code {
  background-color: #F8F8F8;
  border: 1px solid #CCC;
  border-radius: 3px;
  padding: 0px 5px;
  white-space: nowrap;
}
pre {
  background-color: #F8F8F8;
  border: 1px solid #CCC;
  border-radius: 3px;
  padding: 6px 10px;
  overflow: auto;
  width: 100%;
}
#content {
  margin: 0px auto;
  width: 600px;
}
#logo {
  float: left;
  width: 100px;
  height: 100px;
}
#title {
  float: left;
  margin: 1rem;
  bottom: 0;
}
header {
  font-family: sans-serif;
}
header h1 {
  margin: 0 0 0.5rem;
}
header h2 {
  margin: 0;
  font-style: italic;
  font-family: serif;
  font-size: 1rem;
  color: #666;
}
header {
  border-bottom: 2px solid black;
}
#article {
  padding-left: 100px;
}
header:after {
  clear: both;
  content: " ";
  display: block;
}
