::selection {
  background: #FF0;
}
a {
  color: #844;
  text-decoration: none;
}
a:hover {
  background-color: #FF4;
}
/*a.download {
  background-image:url(download.png);
  background-repeat:no-repeat;
  background-position-y:3px;
  padding-left: 20px;
}*/
p code {
  background-color: #F8F8F8;
  border: 1px solid #CCC;
  border-radius: 3px;
  padding: 0 5px;
  white-space: nowrap;
}
img{
  max-width:600px;
}
pre {
  background-color: #F8F8F8;
  border: 1px solid #CCC;
  border-radius: 3px;
  padding: 6px 10px;
  overflow: auto;
  max-width:600px;
}
.button {
  display: inline-block;
  background-color: #0D95AC;
  color: #FFF;
  border-radius: 3px;
  border-bottom: 5px solid #0F889A;
  padding: .6rem;
  margin: 1rem 4rem;
  font-family: 'Open Sans', sans-serif;
}
.button:hover {
  background-color: #0D95AC;
}
/*-----------------------*/
/* GLOBALS */
/*-----------------------*/
html{
	margin:0;
	padding:0;
	height:100%;
}
body{
	margin:0;
	padding:0;
	height:100%;
	background-image:url(site_background_tile.png);
}
h1, h2, h3 {
  font-family: 'Open Sans', sans-serif;
}

/*-----------------------*/
/* CLASSES */
/*-----------------------*/
.title{
	font-family: sans-serif;
	font-size: 2.7rem;
	margin-bottom: 0.5rem;
}
.subtitle{
	margin-top: 0.5rem;
	font-size: 1rem;
	font-family: serif;
	font-style: italic;
	font-weight: 500;
	color: #666;
}
#menu {
	font-family: 'Open Sans', sans-serif;
	font-size: 1rem;
}
#menu ul {
	list-style-type:none;
	padding: 0;
}
#menu>ul>li {
	padding: 0.5rem 0.3rem 0.5rem 1.3rem;
}
#menu ul ul {
	list-style-type:none;
	font-family: inherit;
	font-size: 0.9rem;
	color: #292929;
	list-style-type:none;
	padding-left: 15px;
	padding-bottom: 5px;
}
/*-----------------------*/
/* CONTAINERS */
/*-----------------------*/
#wrapper{
	width: 860px;
	margin: 20px auto;
	border-collapse: collapse;
	-webkit-box-shadow: 0px 0px 7px #91897E;
	box-shadow: 0px 0px 7px #91897E;
}
#header{
	width: inherit;
	background: white;
	height:140px;
	border-bottom: 2px solid #E9E8E2;
}
#logo{
}
#logo a:hover{
  background: none;
}
#title{
	text-align:center;
	text-indent: -75px;
}
#content{
	width:600px;
	background:white;
}
#menu{
	padding-bottom: 7rem;
	vertical-align: top;
	width: 200px;
	background: #E9E8E2;
}
#article{
	padding: 0 2rem 7rem 2rem;
	vertical-align: top;
	position: relative;
}
#footer{
	position: absolute;
	bottom: 0;
	padding-top: 0.5rem;
	padding-bottom: 1rem;
	border-top: 2px solid #E9E8E2;
	width: 80%;
	font-size: 1rem;
}
#footer a{
	color: #AFAFAF;
}

@media all and (max-width: 1024px) {
	#wrapper{
		width: 100%;
		margin: 0;
	}
}

#menu a[href^="https://github.com"] {
	background:url('github_mark.png') 0px 50% no-repeat transparent;
	padding-left: 21px;
}

#menu a[href^="https://github.com"]:hover {
	background:url('github_mark.png') 0px 50% no-repeat transparent;
	background-color: #FF4;
	padding-left: 21px;
}

