::selection {
  background: #FF0;
}
a {
  color: #844;
  text-decoration: none;
}
a:hover {
  background: #FF4;
}
a.download {
  background-image:url(download.png);
  background-repeat:no-repeat;
  background-position-y:3px;
  padding-left: 20px;
}
p code {
  background-color: #F8F8F8;
  border: 1px solid #CCC;
  border-radius: 3px;
  padding: 0 5px;
  white-space: nowrap;
}
img{
  max-width:600px;
}
pre {
  background-color: #F8F8F8;
  border: 1px solid #CCC;
  border-radius: 3px;
  padding: 6px 10px;
  overflow: auto;
  max-width:600px;
}
/*-----------------------*/
/* GLOBALS */
/*-----------------------*/
html{
	margin:0;
	padding:0;
	height:100%;
}
body{
	margin:0;
	padding:0;
	height:100%;
	background-image:url(site_background_tile.png);
}
h1, h2, h3 {
  font-family: 'Open Sans', sans-serif;
}

/*-----------------------*/
/* CLASSES */
/*-----------------------*/
.title{
	font-family:sans-serif;
	font-size:42px;
	margin-bottom: 0.5rem;
}
.subtitle{
	margin-top: 0.5rem;
	font-size:16px;
	font-family: serif;
	font-style: italic;
	font-weight: 500;
	color: #666;
}
#menu {
	font-family: 'Open Sans', sans-serif;
	font-size:14px;
}
#menu ul {
	list-style-type:none;
	padding-left:25px;
}
#menu ul ul {
	list-style-type:none;
	font-family: inherit;
	font-size:13px;
	color:hsla(0,0%,16%,1.00);
	list-style-type:none;
	padding-left:15px;
	padding-bottom:5px;
}
.hr-padded{
	margin: 0 7px;
}
/*-----------------------*/
/* CONTAINERS */
/*-----------------------*/
#wrapper{
	width: 860px;
	margin: 20px auto;
	border-collapse: collapse;
	-webkit-box-shadow: 0px 0px 7px hsla(36,8%,53%,1.00);
	box-shadow: 0px 0px 7px hsla(36,8%,53%,1.00);
}
#header{
	width: inherit;
	background: white;
	height:140px;
	border-bottom: 2px solid hsla(51,13%,90%,1.00);
}
#logo{
}
#logo a:hover{
  background: none;
}
#title{
	text-align:center;
	text-indent: -75px;
}
#content{
	width:600px;
	background:white;
}
#menu{
	vertical-align: top;
	width: 200px;
	background: hsla(51,13%,90%,1.00);
}
#article{
	padding: 0 2rem 4rem 2rem;
	text-align:justify;
	vertical-align: top;
}
#footer{
	margin-top: 5rem;
	padding-top: 0.5rem;
	border-top: 1px solid black;
	font-size: 1rem;
}
