::selection {
  background: #FF0;
}
a {
  color: #844;
  font-weight: bold;
  text-decoration: none;
}
a:hover {
  background: #FF4;
}
p code {
  background-color: #F8F8F8;
  border: 1px solid #CCC;
  border-radius: 3px;
  padding: 0 5px;
  white-space: nowrap;
}
pre {
  background-color: #F8F8F8;
  border: 1px solid #CCC;
  border-radius: 3px;
  padding: 6px 10px;
  overflow: scroll;
  width: 100%;
}
h1, h2, h3 {
  font-family: sans-serif;
}
body {
  margin: 0;
}
#wrapper {
  margin: 0 auto;
  border-collapse: collapse;
}
#logo {
  width: 100px;
  height: 100px;
}
#article {
  width: 600px;
}
#header {
  border-bottom: 2px solid #555;
}
#title {
  text-indent: -50px;
}
#title h1 {
  margin: 0 0 0.5rem;
}
#title h2 {
  margin: 0;
  font-style: italic;
  font-family: serif;
  font-size: 1rem;
  color: #666;
}
